/*!* Master Styles *!*/
body {
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.fs-btn span {
border: 2px solid rgba(255, 255, 255, 0.5);
border-radius: 4px;
padding: 8px 20px;
color: #fff;
transition: 0.2s;
}

.fs-btn:hover span {
color: #FBB448;
background-color: #fff;
}

a {
  color: #FBB448;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #FBB448;
  outline: none;
  text-decoration: none;
}

a.active {
  color: #FBB448;
}

p {
  margin-bottom: 20px;
}
h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}
ul li {
  list-style: none;
}
/*!* Navigation link styles *!*/
/*!* everywhere else *!*/
.content {
  padding: 100px 0;
}

.middle:before {
  content: '';
  display: inline-block;
  height: 50%;
  vertical-align: middle;
}
.middle {
  height: 100%;
}
.title {
  margin-bottom: 20px;
}
.intro-text-small {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .15em;
  display: block;
  margin-bottom: 10px;
}
.cursive-font {
  font-family: "Kaushan Script", cursive;
}
.overlay {
  background-color: rgba(0,0,0,0.5);
}
@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
    width: 100%;
  }
}
.primary-color {
  color: #FBB448;
}
