.card {
  display: block;
  margin-bottom:30px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;

  .overlay {
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    transition: 0.7s;

    .centered {
      margin: 0 50%;
      top: 50%;
      position: absolute;
    }
  }

  img {
    transition: 0.3s;
  }

  &:hover {
    bottom: 7px;
    margin-bottom: 40px;
    margin-top: -10px;
    img {
      transform: scale(1.2);
    }
  }

  &.active figure {
    margin: 0;
  }

  &:hover, &.active {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.2);
    .overlay {
      opacity: 1;
      visibility: visible;
      z-index: 2;
    }
  }
}

.card-subtitle {
  text-align: center;
  position: relative;
  z-index: 3;
  padding: 0 10px 10px 20px;

  &:before {
    position: absolute;
    content: "";
    height: 50px;
    top: -40px;
    left: 0;
    right: 0;
    background: #fff;
    transform: rotate(4deg);
    margin-left: -2px;
    z-index: -1;
  }

  h2 {
    font-size: 20px;
    color: #FBB448;
  }

  p {
    color: #000;
    height: 60px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

figure {
  height: 240px;
  overflow: hidden;
  position: relative;

  .img-responcive {
    max-width: 100%;
  }
}

.solid {
  margin-bottom: 30px;
  min-height: 350px;

  .card {
    height: 100%;
  }

  figure {
    height: 100%;

    .overlay .centered {
      top: 45%;
    }
  }
}

.settings-btn {
  font-size: 30px;
  padding: 15px;
  color: #fff;
  &:hover, &:active {
    color: #c9c9c9;
  }
}

.plus-btn {
  font-family: "sans-serif";
  font-size: 50px;
  color: #fff;
}