.cut-heading {
  margin-bottom: 20px !important;
}
.date-form {
  padding: 7px;
}

img.view {
  width: 100%;
  height: 100%;
}

.sample {
  border: 0;
  border-bottom: 1px;
  border-style: dotted;
  padding-bottom: 25px;
}
.grey-remove {
  color: #777;
  font-size: 14px;
}
.room-list {
  list-style: none;
  span {
    padding: 0 5px;
  }
}