.sample {
  border: 0;
  border-bottom: 1px;
  border-style: dotted;
  padding-bottom: 25px;
}
.room-list {
  list-style: none;
  span {
    padding: 0 5px;
  }
}
.tile-control {
  &>* {
    width: 100%;
    margin: 1px 0;
  }
}