.options-table {
  th {
    padding: 15px;
    font-weight: 500;
    border-bottom: 0;
  }
  tr {
    border-top: 1px solid rgba(0, 0, 0, 0.2)
  }
  thead tr th {
    border-bottom: none;
  }
  select {
    border-width: 1px;
  }
}
