:root {
  --main-color: #FBB448;
  --active-color: #FCBE61;
}

/****** resets & overrides *********/
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
    width: 100%;
  }

  body {
    padding:0;
  }
}

.form-control {
  border: 2px solid rgba(0,0,0,0.1);
  padding: 10px 15px;
  height: auto;
  font-size: 16px;
  box-shadow: none;
  margin-bottom: 15px;
}

.control-label.required:after {
  content:" *";
  color: #ff0000;;
}

:invalid {
  border-color: #ff0000;
}

.control-label {
  font-weight: normal;
}

input[type="checkbox"] {
  display:none;

  & + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin: 0 5px;
    vertical-align:middle;
    background:url(../img/checkbox.png) left top no-repeat;
    cursor:pointer;
  }

  &:checked + label span {
    background:url(../img/checkbox.png) -19px top no-repeat;
  }
}

.label.label-info{
  margin: 0 3px;
}
.panel.noborder {
  border: none;
  box-shadow: none;
}

.tab-content {
  margin-top: 30px;
  .active * {
    color: #777;
  }
  .active .label {
    color: #fff;
  }
  .active button {
    color: #fff;
  }
}

.btn, .active .btn {
  font-size: 16px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.2s;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-default {
  color: #5d5b5b;
  background: #ddd;
  border-color: #ddd;

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    border-color: #ddd;
  }
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);

  &:hover, &:active, &:focus, &:active:hover, &:active:focus {
    background-color: var(--active-color);
    border-color: var(--active-color);
  }
}

.btn-gray {
  color: #9F9F9F;
}

.btn-icon {
  border: none;
  background-color: transparent;
  color: #666;
}

a {
  color: var(--main-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  &:hover, &:active, &:focus {
    color: var(--main-color);
    outline: none;
    text-decoration: none;
  }
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

ul li {
  list-style: none;
}

.active * {
  color: var(--main-color);
}

.DateRangePicker, .DateRangePickerInput {
  width: 100%;
  text-align: center;
}

.pagination {
  li a {
    color: #000;
  }
  .active a, .active a:active, .active a:hover, .active a:focus {
    background-color: var(--main-color);
    border-color: var(--active-color);
  }
}

/******  navbar *********/

nav {
  position: absolute;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  a {
    color: rgba(255, 255, 255, 0.7);
    &:hover {
      color: #fff;
    }
  }
  em {
    color: #FBB448;
  }
}

.toolbar {
  display: flex;
  margin-top: 7px;
  li {
    padding: 0 10px;
  }
}

#logo {
  font-size: 20px;
  font-weight: bold;
  a {
    color: #fff;
  }
}

/******  head *********/
header {
  background: #a5a5a5;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  height: 75px;
  .btn {
    display: block;
    width: 100%;
  }
  h1 {
    color: #fff;
    font-size: 80px;
    line-height: 1.5;
  }
  &.banner {
    height: 600px;
  }
}

/******  footer *********/
footer {
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  padding: 100px 0;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/fon2.jpg");
    z-index: -1;
  }
}

.top-info {
  text-align: center;
  h3 {
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    margin: 15px 0;
  }
  li {
    display: inline-block;
    padding: 0 20px;
  }
}

.copyright {
  margin: 50px 0;
  padding: 50px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  color: #666666;

  span {
    font-size: 15px;
  }
}
/****** common *********/
.control-icon {
  cursor: pointer;
  margin: 0 15px;
}
body {
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

.content {
  padding: 100px 0;
}

.middle:before {
  content: '';
  display: inline-block;
  height: 50%;
}
.middle {
  height: 100%;
}

.title {
  margin-bottom: 20px;
}

.intro-text-small {
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: .15em;
}
.cursive-font {
  font-family: "Kaushan Script", cursive;
}
.overlay {
  background-color: rgba(0,0,0,0.5);
}

.dropdown-menu {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  margin-top: -10px;
  padding: 0;
  border: none;
  display: block;
  max-height: 0;
  opacity: 0;

  li {
    height: 0;
    opacity: 0;
  }
}

.dropdown:hover .dropdown-menu {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;

  opacity: 1;
  max-height: 300px;
  margin-top: 10px;

  li {
    height: auto;
    opacity: 1;
  }
}

.btn-cta {
  a {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    padding: 8px 20px;
    color: #fff;
  }
  &:hover a {
    color: #FBB448;
    background-color: #fff;
  }
}

.btn-tra {
  border: 2px solid rgba(180, 180, 180, 0.5);
  border-radius: 4px;
  padding: 8px 40px;

  &:hover {
    background: #f9f9f9;
  }
}

.icon {
  font-size: 30px;
}

.primary-color {
  color: #FBB448;
}

.title {
  h2 {
    font-size: 50px;
    line-height: 1.5;
  }
  p {
    font-size: 20px;
  }
}

.loader {
  display: block;
  margin: 100px auto;
  width: auto;
  height: auto;
  max-width: 100%;

  &.small {
    max-width: 30px;
    max-height: 30px;
    margin: auto;
  }
}

.black, .active .black {
  color: #000;
}

.buttons input, .buttons button {
  padding: 10px 20px;
  margin: 0 2px;
}

.collapsible {
  transition: 2s;
}

.error-message {
  margin: 4px 0;
  padding: 0;
  text-align: center;
  border: none;
  box-shadow: none;
  p {
    margin: 0;
  }
  >div {
    border: 1px solid #cacccd;
  }
}
.no-border {
  border: none;
}

.no-padding {
  padding: 0;
}

.top-indent {
  margin-top: 20px;
}

.bottom-indent {
  margin-bottom: 20px;
}

.full-headings-width {
  .panel-heading {
    padding: 0;
  }
  a[role=tab] {
    display: block;
    padding: 10px 15px;
  }
}

.options-list {
  h4 {
    color: #000;
  }
  li p {
    font-size: 14px;
  }
}

.active .options-list h4 {
  color: #000;
}

.paragraph {
  margin-left: 30px;
}

.fieldarray-group {
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;

  .adjoined {
    margin: -11px;
  }
}

.btn.small {
  padding: 5px 11px;
}

.row-collapse {
  transition: max-height 0.5s;
  max-height: 0;
  overflow: hidden;
}

.row-collapse.in {
  transition: max-height 3s;
  max-height: 1000px;
  margin: 15px 5px;
}

.cut-heading {
  margin-bottom: 20px !important;
}

.date-form {
  padding: 7px;
}

img.view {
  width: 100%;
  height: 100%;
}

.grey-remove {
  color: #777;
  font-size: 14px;
}

.separated-list-item {
  border-bottom: 1px solid;
}

.error {
  color: #d60606;
}

.snackbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  z-index: 4;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0px);
  font-size: 14px;

  .snackbar-content {
    padding: 15px;
  }
}