header {
  background: #4d4d4d;
  background-attachment: fixed;
  text-align: center;
  height: 600px;
  background-size: cover;
}
h1 {
  color: #fff;
  font-size: 80px;
  line-height: 1.5;
}
.cut {
  height: 75px;
}
