.basket-section {
  padding: 100px 0;

  h2 {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

.dotted {
  font-family: "Kaushan Script", cursive !important;
  .item {
    border-bottom: 2px #404B51 dotted;
    font-size: 26px;
    line-height: 1;
    color: #404B51;
  }
  span {

  }
}

.sum {
  float: right;
  padding-left: 6px;
  color: #FBB448;
}

.dotted .item>span {
	background: white;
	position: relative;
	bottom: -7px;
}

.wrapper {
  display: inline-flex;
  padding: 0 30px 5px;
  input {
    width: 45px;
    margin-left: 5px;
    padding: 1px 0;
    text-align: center;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
  }
  span {
    padding-left: 5px;
    font-size: 14px;
    padding-top: 5px;
  }
  .btn-delete {
    margin-left: 10px;
  }
}

.buttons {
  text-align: center;
  margin-top: 40px;

  input {
    padding: 10px 20px;
    margin: 0 2px;
  }
}

.col-sm-10 {
	padding: 0;
}

//@font-face{
//	font-family:'FontAwesome';
//	src: url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot');
//	src:
//		url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
//		url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.woff') format('woff'),
//		url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.ttf') format('truetype'),
//		url('../fonts/font-awesome-4.7.0/fonts/fontawesome-webfont.svg') format('svg');
//	font-weight:normal;
//	font-style:normal
//}
//.gtco-heading {
//    margin-bottom: 0 !important;
//}
//.gtco-cover.gtco-cover-sm {
//    height: 82px;
//}
//@media screen and (max-width: 992px) {
//  #gtco-header.gtco-cover {
//    height: 75px !important;
//    padding: 0 !important;
//  }
//}
//
//.dotted {
//	font-family: "Kaushan Script", cursive !important;
//	margin-bottom: 40px;
//}
//.dotted .item {
//	margin-bottom: 5px;
//	border-bottom: 2px #404B51 dotted;
//	font-size: 26px;
//	line-height: 1;
//}
//.dotted .item span:nth-child(odd) {
//	padding-right: 6px;
//	color: #404B51;
//}
//.dotted .item span:nth-child(even) {
//	float: right;
//	padding-left: 6px;
//	color: #FBB448;
//}
//.dotted .item>span {
//	background: white;
//	position: relative;
//	bottom: -7px;
//}
//.sum {
//	color: #FBB448 !important;
//}
//.buttons {
//	text-align: center;
//	margin-top: 40px;
//}
//
///* Стили для счётчиков */
//
//.wrapper {
//	text-align: center;
//	margin-top: 5px;
//	margin-left: 15px;
//    display: inline-block;
//    vertical-align: middle;
//}
//input[type=button].gray, input[type=submit].gray, .button.gray {
//    color: #9F9F9F;
//    background-color: #DFDFDF;
//}
//.wrapper .minus, .wrapper .plus, .wrapper .remove {
//    width: auto;
//    background: none !important;
//    box-shadow: none !important;
//    padding: 0;
//}
//.wrapper .remove {
//	margin-left: 20px;
//}
//.wrapper input[type="text"] {
//    vertical-align: middle;
//    max-width: 45px;
//    text-align: center;
//}
//input[type=text] {
//    background-color: transparent;
//    border: none;
//    border-radius: 4px;
//    height: 3rem;
//    font-size: 1rem;
//    line-height: normal;
//    padding: 0 10px;
//    box-shadow: none;
//    -webkit-box-sizing: border-box;
//    -moz-box-sizing: border-box;
//    box-sizing: border-box;
//    transition: all .3s;
//    background-color: #f2f2f2;
//    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
//    width: 100%;
//}
//.fa {
//    font-size: 16px;
//    vertical-align: middle;
//    display: inline-block;
//    font-family: FontAwesome;
//    font-style: normal;
//    font-weight: normal;
//    line-height: 1;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//}
//.fa-plus:before {
//    content: "\f067";
//}
//.fa-times-circle-o:before {
//    content: "\f05c";
//}
//.fa-minus:before {
//    content: "\f068";
//}
//.col-sm-10 {
//	padding: 0;
//}