<main>
  <app-nav></app-nav>
  <router-outlet></router-outlet>
  <footer role="contentinfo" class="row">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="top-info">
        <h3>МЫ НА СВЯЗИ</h3>
        <ul>
          <li><a href="tel://+375 29 6666666">+375 29 6666666</a></li>
          <li><a href="mailto:info@foodshop.by">info@foodshop.by</a></li>
        </ul>
      </div>
      <div class="copyright">
        <p>
          <span class="block">&copy; 2017 FoodShop. Все права в кармане</span>
        </p>
      </div>
    </div>
  </footer>
</main>
