<div class="navbar">
  <div class="container">
    <div class="col-sm-3 hidden-xs">
      <div id="logo"><a href="/">FOODSHOP <em>.</em></a> </div>
    </div>
    <nav class="col-sm-9">
      <ul class="pull-right">
        <li><a href="/menu" [class.active]="isActive('/menu')">Меню</a> </li>
        <li><a href="/contacts" [class.active]="isActive('/contacts')">Контакты</a> </li>
        <li><a href="/login" [class.active]="isActive('/login')">Войти</a> </li>
        <li class="fs-btn" [class.active]="isActive('/basket')">
          <a href="/basket" (click)="deb()"><span>Корзина</span></a>
        </li>
      </ul>
    </nav>
  </div>
</div>